<%= form_for([@list, @list.comments.build]) do |f| %>
    <p>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
    </p>
    
    <p>
    <%= f.label :body %> <br>
    <%= f.text_area :body %>
    </p>
    <br>
    
    <p>
    <%= f.submit "Create Comment", class: 'btn btn-outline-secondary btn-sm' %>
    </p>
    <% end %>